body {
  font-size: 16px;
  font-family: 'Acrom';
}

.main {
  width: 90%;
  margin: 0 auto;
}

section {
  display: flex;
  font-size: 1.5em;
}

.section-text {
  display: flex;
  align-items: center;
}

#canvas-container {
  display: flex;
  justify-content: center;
}